<div class="card">
  <div class="card-body align-self-center">
    <h5 class="title-create">Edit password</h5>
    <form class="p-3 create-form" [formGroup]="editPasswordForm" (ngSubmit)="onSubmit()">
      <label for="currentPasswordField">Current password</label>
      <input class="form-control" style="max-width:15em" id="currentPasswordField" formControlName="currentPassword"
             type="password" [ngClass]="{ 'is-invalid': submitted && f['currentPassword'].errors }"/>
      <div *ngIf="submitted && f['currentPassword'].errors" class="invalid-feedback">
        <div *ngIf="f['currentPassword'].errors['required']">Current password is required.</div>
      </div>
      <label for="newPasswordField">New password</label>
      <input class="form-control" style="max-width:15em" id="newPasswordField" formControlName="newPassword"
             type="password" [ngClass]="{ 'is-invalid': submitted && f['newPassword'].errors }"/>
      <div *ngIf="submitted && f['newPassword'].errors" class="invalid-feedback">
        <div *ngIf="f['newPassword'].errors['required']">New password is required.</div>
        <div *ngIf="f['newPassword'].errors['minlength']">Password must be at least 5 characters.</div>
      </div>
      <label for="confirmPassword">Confirm password</label>
      <input id="confirmPassword" class="form-control" style="max-width:200px" formControlName="confirmPassword"
             type="password" [ngClass]="{ 'is-invalid': submitted && f['confirmPassword'].errors }"/>
      <div *ngIf="submitted && f['confirmPassword'].errors" class="invalid-feedback">
        <div *ngIf="f['confirmPassword'].errors['required']">Confirm password is required.</div>
        <div *ngIf="f['confirmPassword'].errors['mustMatch']">Passwords must match</div>
      </div>
      <div class="text-danger" *ngIf="submitted && forbidden">
        <div>Invalid current password.</div>
      </div>
      <br>
      <input class="btn btn-primary float-start" type="submit" value="Edit"/>
      <button type="button" (click)="onReset()" class="btn btn-warning float-end btn-reset">Reset</button>
    </form>
  </div>
</div>
