<div class="card" >
  <img *ngIf="post?.imagePath" class="card-img-top image align-self-center" [src]="post?.imagePath" alt="Post image">
  <div class="card-header text-center mt-2">
    <h3 class="card-title fst-italic mb-0">{{post.title}}</h3>
  </div>
  <div class="card-header text-center mt-1">
    <h6 class="card-text">{{post.text}}</h6>
  </div>
  <div class="card-footer mt-1 text-center">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-4 col-sm-12">
          <span id="span-posted-by">Posted by <i class="bi bi-person"></i>
            <a routerLink="/users/{{post.user.username}}">{{post?.user?.displayName || post?.user?.username}}</a>
            at {{post.creationDate | date: 'M/d/yy'}}
          </span>
        </div>
        <div class="col-md-4 col-sm-12 div-border">
          <span>
            <button (click)="downvotePost()" class="btn-vote btn btn-link" [ngClass]="{'btn-vote-reacted': downvoteHover || hoverBtnIfReacted(downvote)}"><i class="bi bi-arrow-down"></i></button>
              <p class="karma-counter">{{karma}}</p>
            <button (click)="upvotePost()" class="btn-vote btn btn-link" [ngClass]="{'btn-vote-reacted': upvoteHover || hoverBtnIfReacted(upvote)}"><i class="bi bi-arrow-up"></i></button>
          </span>
        </div>
        <div class="col-md-4 col-sm-12 div-border">
          <span id="flairs">Flair: <i class="bi bi-tags-fill"></i>{{post.flair?.name}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer text-center">
    <div *ngIf="hasLoggedIn() && !isBanned()" class="d-flex justify-content-center">
      <button type="button" (click)="onShowCreateComment()" class="btn btn-primary mt-2">Add new comment</button>
      <button type="button" (click)="onShowReportPost()" class="btn btn-danger mt-2 btn-report">Report post</button>
    </div>
    <div class="d-flex justify-content-center">
      <button *ngIf="amIPostCreator()" (click)="onShowEditPost()" type="button" class="btn btn-warning m-1">Edit post</button>
      <button *ngIf="isAdmin() || isModerator(community.moderators)" (click)="deletePost()" type="button" class="btn btn-danger mt-1 mb-1">Delete post</button>
      <button *ngIf="isModerator(community.moderators)" (click)="banUser()" type="button" class="btn btn-warning mt-1 mb-1 btn-report">Ban user</button>
    </div>
  </div>
</div>
<app-create-comment (newCommentEvent)="addNewComment($event)" *ngIf="showCreateComment"></app-create-comment>
<app-edit-post *ngIf="showEditPost" [post]="post" [flairs]="community.flairs" (newPostEvent)="addEditedPost($event)"></app-edit-post>
<app-report-post *ngIf="showReportPost" [post]="post"></app-report-post>
<app-sort-comment [post]="post" (sortCommentEvent)="sortComments($event)"></app-sort-comment>
<app-comments-list [community]="community" [comments]="post.comments"></app-comments-list>
