<div class="card card-post" >
  <img class="card-img-top image" [src]="post?.imagePath" alt="Post image">
  <div class="card-body">
    <h5 class="card-title">{{post?.title}}</h5>
    <p class="card-text">{{post?.text}}</p>
  </div>
  <div class="card-footer text-center">
    <span id="span-posted-by">
      Posted by <i class="bi bi-person"></i>
      <a routerLink="/users/{{post.user.id}}">{{post?.user?.displayName}}</a>
      at {{post?.creationDate | date: 'M/d/yy'}}
    </span>
    <span id="karma">
      <a class="btn-vote" routerLink="/#"><i class="bi bi-arrow-down"></i></a>
      {{calculateKarma()}}
      <a class="btn-vote" routerLink="/#"><i class="bi bi-arrow-up"></i></a>
    </span>
  </div>
  <div class="card-footer text-center">
    <a *ngIf="post.community" routerLink="/communities/{{post.community?.id}}" class="btn btn-primary btn-sm float-start"><i class="bi bi-people-fill"></i>Go to community</a>
    <a *ngIf="post.community" routerLink="/communities/{{post.community?.id}}/posts/{{post.id}}" class="btn btn-primary btn-sm float-end"><i class="bi bi-file-earmark-post"></i>Post details</a>
    <a *ngIf="!post.community" routerLink="posts/{{post.id}}" class="btn btn-primary btn-sm float-end"><i class="bi bi-file-earmark-post"></i>Post details</a>
  </div>
</div>

