<div class="card card-post" >
  <div class="card-body">
    <h5 class="card-title">{{community?.name}}</h5>
    <p class="card-text">{{community?.description}}</p>
  </div>
  <div class="card-footer">
    <span id="span-posted-by">Moderated by: </span>
    <span *ngFor="let moderator of community.moderators">
      <i class="bi bi-person-fill"></i><a routerLink="/users/{{moderator.user.id}}">{{moderator?.user?.username}}</a>
    </span>
    <span id="karma">Creation date: {{community?.creationDate | date: 'M/d/yy'}}</span>
    <span id="flairs">Flairs: <i class="bi bi-tags-fill"></i></span>
    <span *ngFor="let flair of community.flairs">
      <span>{{flair.name}}, </span>
    </span>
  </div>
  <div class="card-footer text-center">
    <a routerLink="/communities/{{community.id}}" class="btn btn-primary btn-sm"><i class="bi bi-people-fill"></i>Visit community</a>
  </div>
</div>
