<div class="d-flex p-2 justify-content-center">
  <button type="button" (click)="onChangeShowSearchCommunity()" class="btn btn-primary m-1">Search Communities</button>
  <button type="button" (click)="onChangeShowSearchPost()" class="btn btn-primary m-1">Search Posts</button>
</div>
<div class="d-flex p-2 justify-content-around">
  <app-input-search-community *ngIf="showSearchCommunity" (searchEvent)="onChangeShowSearchCommunity()"></app-input-search-community>
  <app-input-search-post *ngIf="showSearchPost" (searchEvent)="onChangeShowSearchPost()"></app-input-search-post>
</div>
