<div class="card">
    <div class="card-body align-self-center">
      <form class="p-5" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <label for="usernameField">Username</label>
        <input class="form-control" style="max-width:200px" id="usernameField" formControlName="username"
               type="text"/>
        <label for="passwordField">Password</label>
        <input id="passwordField" class="form-control" style="max-width:200px" formControlName="password"
               type="password" required/>
        <p>Not a member?<a routerLink="/registration">Register here!</a></p>
        <input class="btn btn-primary mt-2" type="submit" value="Submit"/>
      </form>
    </div>
</div>
