<div class="card">
  <div class="card-header mt-1 text-center">
    <h3 class="fst-italic d-inline">{{community.name}}</h3>
    <p class="align-self-end mb-0 creation-date">Created: {{community.creationDate | date: 'M/d/yy'}}</p>
  </div>
  <div class="card-header mt-1 text-center">
    <h6 class="fst-italic d-inline">{{community.description}}</h6>
  </div>
  <div class="card-body">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-4 col-sm-12">
          <span id="span-posted-by">Moderated by: </span>
          <span *ngFor="let moderator of community.moderators">
            <i class="bi bi-person-fill"></i><a routerLink="/users/{{moderator.user.username}}">{{moderator?.user?.displayName || moderator?.user?.username}}</a>
          </span>
        </div>
        <div class="col-md-4 col-sm-12 div-border">
          <span id="flairs">Flairs: <i class="bi bi-tags-fill"></i></span>
          <span *ngFor="let flair of community.flairs">
            <span>{{flair.name}}, </span>
          </span>
        </div>
        <div class="col-md-4 col-sm-12 div-border">
          <span id="rules">Rules: <i class="bi bi-exclamation-triangle-fill"></i> </span>
          <span *ngFor="let rule of community.rules">
            <span>{{rule.description}}, </span>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <div *ngIf="hasLoggedIn()" class="d-flex justify-content-center">
      <button (click)="onShowCreatePost()"  type="button" class="btn btn-primary mt-2">Add new post</button>
    </div>
    <div *ngIf="isAdmin() || isModerator(community.moderators)" class="d-flex justify-content-center">
      <button type="button" (click)="onShowEditCommunity()" class="btn btn-warning mt-1">Edit community</button>
      <button type="button" (click)="onShowReviewReports()" class="btn btn-warning btn-reports mt-1">Review reports</button>
    </div>
    <div *ngIf="isAdmin" class="d-flex justify-content-center">
      <button (click)="onShowSuspendCommunity()"  type="button" class="btn btn-danger mt-2">Suspend community</button>
    </div>
  </div>
</div>
<app-review-reports (removePostEvent)="removeReportedPost($event)" *ngIf="showReviewReports"></app-review-reports>
<app-create-post (newPostEvent)="addNewPost($event)" [flairs] = "community.flairs" *ngIf="showCreatePost"></app-create-post>
<app-suspend-community *ngIf="showSuspendCommunity"></app-suspend-community>
<app-edit-community [community]="community" (newCommunityEvent)="addNewCommunity($event)" *ngIf="showEditCommunity"></app-edit-community>
<app-sort-posts-in-community [community]="community" (sortPostsEvent)="sortPosts($event)"></app-sort-posts-in-community>
