<div class="card mt-1">
  <div class="card-header">
    <i *ngIf="comment.parentCommentId != null" class="bi bi-reply-fill float-start reply-icon"></i>
    <span>Commented by: <h6 class="d-inline-block"><i class="bi bi-person"></i>
            <a routerLink="/users/{{comment.user.username}}">{{comment?.user?.displayName || comment?.user?.username}}</a></h6>
      at {{comment.timestamp | date: 'M/d/yy'}}</span>
  </div>
  <div class="card-body">
    <p class="card-text">{{comment.text}}</p>
    <span id="karma">
      <button (click)="downvoteComment()" class="btn-vote btn" [ngClass]="{'btn-vote-reacted': downvoteHover}"><i class="bi bi-arrow-down"></i></button>
         <p class="karma-counter">{{karma}}</p>
      <button (click)="upvoteComment()" class="btn-vote btn" [ngClass]="{'btn-vote-reacted': upvoteHover}"><i class="bi bi-arrow-up"></i></button>
    </span>
    <div class="d-inline" *ngIf="hasLoggedIn() && !isBanned()">
      <button (click)="onShowCreateCommentReply()" class="btn btn-primary btn-reply btn-sm">Reply</button>
      <button (click)="onShowCreateCommentReport()" class="btn btn-danger btn-reply btn-sm">Report</button>
      <button (click)="banUser()" *ngIf="isAdmin() || isModerator()" class="btn btn-danger btn-reply btn-sm">Ban user</button>
      <div class="row">
        <div class="col-md-3">
          <app-create-comment-reply (newCommentEvent)="addNewComment($event)" *ngIf="showCreateCommentReply" [parent]="comment"></app-create-comment-reply>
        </div>
        <div class="col-md-3">
          <app-report-comment [comment]="comment" *ngIf="showCreateCommentReport"></app-report-comment>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="comment-reply">
  <app-comments-list [community]="community" [comments]="comment.children"></app-comments-list>
</div>
