h5 {
  margin-left: 3em;
}

.add-flairs, .add-rules {
  margin-left: 0.3em;
}

.btn-reset {
  margin-right: 5.55em;
}

.flairs-rules-heading {
  font-size: larger;
  margin-left: 5em;
}

.rules-div {
  border-left: 2px solid #0275d8;
  height: auto;

}
